<div class="jumbotron col-md-6 col-md-offset-3">
    <div class="row">
        <h3>Situação atual das queixas:
            <span class="label {{situation.color}}"> {{situation.status}}</span>
        </h3>
    </div>
</div>

<div class="container" ng-repeat="complaint in complaints()">
    <div class="row-fluid">
        <div class="col-lg-12">
            <div class="row" ng-if="complaint">
                <div class="col-lg-12">
                    <h2 class="text-info">{{complaint.descricao}}</h2>
                    <p>Situação: <span class="badge">{{complaint.situacao}}</span></p>
                    <p>Solicitante</p>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Nome: </b> {{complaint.solicitante.nome}}</li>
                        <li class="list-group-item"><b>Email: </b> {{complaint.solicitante.email}}</li>
                    </ul>
                    <p>Local</p>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Rua: </b> {{complaint.local.rua}}</li>
                        <li class="list-group-item"><b>Cidade: </b> {{complaint.local.cidade}}</li>
                        <li class="list-group-item"><b>UF: </b> {{complaint.local.uf}}</li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>